.boton-amarillo {
    @include boton($amarillo,  inline-block);
}

.boton-amarillo-block {
    @include boton($amarillo, block);
}
.boton-verde {
    @include boton($verde, inline-block); 
}

.boton-acciones {
    @include boton($amarillo, block);

   
}

.boton-add {
    @include boton($amarillo, inline-block);
}
.btn-accion {
    width: 85%;
    border-radius: 10px;
    margin: 2rem
}
.boton-delete  {
        @include boton(rgb(57, 52, 52), block);
       
}

